/*** GLOBAL STYLES **/
body {
  margin: 0;
  font-family: "PT Serif";
  color: #777;
  background-color: #000;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  font-family: "Rufina";
  margin: 0;
  color: #ead69a;
}

h2 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 700;
  font-family: "Rufina";
  margin: 0;
  color: #ead69a;
}

p {
  font-weight: 400;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a,
a:visited {
  color: #ead69a;
}

a:hover {
  color: #fff;
}

/** SECTIONS **/
.main {
  /*margin-bottom: 55px;*/
}

nav {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1em 0;
  position: fixed;
  top: -100px;
  transition: top 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 2em;
}

nav a {
  color: #ead69a;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 300;
  margin-left: 1em;
  text-decoration: none;
  padding: 1.5em 0;
}

nav a:hover {
  color: #fff;
}

nav .logo {
  height: 60px;
  margin-left: 1em;
}

.hero {
  background-image: url(../images/ats-silhouette.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-hero {
  margin-top: 8em;
  height: 16em;
}

.bio,
.releases,
.contact {
  background-color: #111;
  display: flex;
  justify-content: center;
}

.release {
  display: flex;
  align-items: center;
  margin-top: 2em;
}

.release img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-right: 1em;
}

.content {
  padding: 10em 4em;
  width: 60%;
}

.skelly {
  background: url(../images/skeleton-jack.png) no-repeat center top fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100vw;
  height: 20em;
}

.horse-knight {
  background: url(../images/horse-knight.png) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100vw;
  height: 20em;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #222;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}

footer ul {
  display: flex;
  margin-right: 1em;
}

footer li {
  margin: 0 0.25em;
}

footer svg {
  width: 32px;
  fill: #555;
}

footer .social-media a:hover svg {
  fill: #ead69a;
}

/* mobile styles */
@media screen and (max-width: 600px) {
  .logo-hero {
    height: 14em;
    margin-top: 0;
    margin-bottom: 4em;
  }

  nav {
    justify-content: center;
  }

  nav .logo {
    margin: 0;
  }

  nav ul {
    display: none;
  }

  .bio .content {
    padding: 4em 2em;
    width: 100vw;
  }

  footer {
    justify-content: center;
  }

  footer ul {
    margin-right: 0;
  }

  footer li {
    margin: 0 0.25em;
  }

  footer svg {
    height: 72px;
    width: 40px;
  }

  .hero,
  .skelly,
  .horse-knight {
    background-attachment: scroll;
  }
}
